{% load staticfiles %}
{% load projects_tags %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'octicons/octicons.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Exo:900,900italic' rel='stylesheet' type='text/css'>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <div id="title" class="left v-center">
                <a href="{% url 'projects:index' %}">ProjectGO!</a>
            </div>
            
            <nav class="left v-center">
                <ul>
                    <li><label for="explore-chck-box">Explore</label></li>    
                    <li><a href="{% url 'projects:create' %}">Start</a></li>    
                </ul>
            </nav>
            
            <div id="search" class="left v-center">
                <form method="get" action="{% url 'projects:search' %}">
                    <input type="search" name="search_term">
                    <input type="submit" value="Go">
                </form>
            </div>
            
            <nav class="right nav v-center">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}">Profile</a> • <a href="{% url 'projects:manage' %}">Manage</a> • <a href="{% url 'users:logout' %}">Logout</a>
                {% elif not user.is_authenticated %}
                    <a href="{% url 'users:login' %}">Login</a> • <a href="{% url 'users:register' %}">Register</a>
                {% endif %}
            </nav>
            <div class="clear"></div>
            
        </header>
        
        <div id="content-wrapper">
            <input id="explore-chck-box" type="checkbox">
            <nav id="explore-card" class="display-none cat-links center-parent">
                <div id="content" class="center-parent">
                    {% category_links %}
                </div>
            </nav>
            
            <div id="content">
        
                {% block content %}
                    Page Content Things
                {% endblock %}
                
            </div>
            
        </div>
        
        <footer>
            
            Page Footer Things
            
        </footer>
        
    </body>
    <script>
 
        {% block jscript %}
        {% endblock %}
 
    </script>
</html>