{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>

    <body>
        {% block header %}
            <div id="header">ProjectGO!</div>
        {% endblock %}
        
        <div id="content-wrapper">
            <div id="content">
                {% block content %}
                    Page Content Things
                {% endblock %}
            </div>
        </div>
        {% block footer %}
            <div id="footer">Page Footer Things</div>
        {% endblock %}
    </body>
    <script>
 
        {% block jscript %}
        {% endblock %}
 
    </script>
</html>