<div class="project-card hover-parent">
    <a href="{% url 'projects:details' project.id %}">
        <div class="card-header">
            <b>{{ project.title }}</b>
        </div>
        
        <div class="project-card-img">
            <img src="{{ project.image.url }}">
            <div class="project-flash-card-short-desc hover-hidden">
                <p class="short-desc">
                    <b>'{{ project.title }}' by {{ project.owner.username }}</b>
                    <br>{{ project.open_date }}
                    <br>
                    <br><b>£{{ project.pledged_amount }}</b> pledged of £{{ project.goal }}
                </p>
            </div>
        </div>
        
        <p class="short-desc">
            {{ project.short_desc }}
        </p> 
        
        <div class="card-footer">
            <p class="center-parent">
                <b>{{ project.status }}</b>
                <br>{{ project.pledged_percent }}% Funded
            </p> 
        </div>

        <div class="hidden">
            <p>
                <br>
                <br>
            </p> 
        </div>
    </a>
</div>