<div class="project-card">
    <a href="{% url 'projects:edit' project.id %}">
        <div class="card-header">
            <b>{{ project.title }}</b>
        </div>
        
        <div class="project-card-img">
            <img src="{{ project.image.url }}">
        </div>
        
        <p class="short-desc">
            {{ project.short_desc }}
        </p> 
        
        <div class="card-footer">
            <a href="{% url 'projects:edit' project.id %}"><span class="octi-margin mega-octicon octicon-pencil"></span></a>
            <a href="{% url 'projects:details' project.id %}"><span class="octi-margin mega-octicon octicon-eye"></span></a>
        </div>

        <div class="hidden">
            <p>
                </br>
            </p> 
        </div>
    </a>
</div>