{% extends "base.html" %}

{% block content %}
<div id="current-address">
    {% if user_address %}
        <form id="edit-address" method="post" action="{% url 'users:edit_address' user_address.id %}">
    {% else %}
        <form id="edit-address" method="post" action="{% url 'users:add_address' %}">
    {% endif %}
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Save Changes" />
        </form>
            
    {% for address in user_addresses %}
    <p>
        {{ address.id }}
        {{ address.line_1 }}
        {{ address.line_2 }}
        {{ address.town }}
        {{ address.postcode }}
        
        <a class="edit" href="{% url 'users:edit_address' address.id %}">Edit</a>
        <a class="edit" href="{% url 'users:delete_address' address.id %}">Delete</a>    </p>
    {% endfor %}
    <a class="edit" href="{% url 'users:add_address' %}">Add</a>
</div>
{% endblock %}