{% extends "base.html" %}

{% block content %}
    <div class="content-card">
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% if form.errors %}
                <span>Your username and password didn't match. Please try again.</span>
            {% endif %}
            <input class="right" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="clear"></div>
        </form>
        <p>Don't have an account? <a href="{% url 'users:register' %}">Register here!</a></p>
    </div>

{% endblock %}