{% extends "base.html" %}

{% block content %}
    {% if user.id  != userobj.id %}
        <div class="content-card">
            <h1>{{ userobj.username }}'s Profile</h1>
            <table class="form-table">
                <tbody>
                    {% for field in form %}
                        <tr>
                            <th>
                                <label for="id_user-first_name">{{ field.label_tag }}</label>
                            </th>
                            <td>
                                {{ field.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="content-non-card">
        <h2>{{ userobj.username }}'s Contributions</h2>
        <div class="center-parent flex">
        {% for project in projects %}
            {% include "projects/includes/project_card.html" %}
        {% endfor %}
        </div>
    </div>

    {% else %}
        <div class="content-card">
            <h1>Hello {{ user.username }}</h1>
            <p>This is your profile page. Feel free to change your details, associated addresses or just view your past pledges.</p>
            <form method="post" action="{% url 'users:profile' %}">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                    {{ form2.as_table }}
                    {{ form3.as_table }}
                </table>
                <input class="right" type="submit" value="Save Changes" />
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="clear"></div>
            </form>
        </div>
<div id="current-address">
        <div class="content-non-card">
            
                <h2>Your Addresses</h2>
                <div class="center-parent flex">
                {% for address in user_addresses %}
                    {% include "users/includes/address_card.html" %}
                {% endfor %}
                    <a class="edit" href="{% url 'users:add_address' %}">
                        <div class="address-card action-card">
                            + Add Address
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-non-card">
            <h2>Your Contributions</h2>
            <div class="center-parent flex">
                {% for userpledge in userpledges %}
                    {% include "projects/includes/project_userpledge_card.html" with project=userpledge.pledge.project %}
                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block jscript %}

    $('#current-address').on('click', '.edit', function(event) {
      event.preventDefault();

      $('#current-address').load(this.href + ' #current-address > *');
   });

    $('#current-address').on('submit', '#edit-address', function () {
    var frm = $(this);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#current-address").html($(data).find("#current-address").html());
            },
            error: function(data) {
                $("#current-address").html("Something went wrong!");
            }
        });
        return false;
    });

{% endblock %}