{% extends "base.html" %}

{% block content %}
{% if user.id  != userobj.id %}
    <p>{{ userobj.username }}</p>
    <table>
        <tbody>
            {% for field in form %}
            <tr>
                <th>
                    <label for="id_user-first_name">{{ field.label_tag }}</label>
                </th>
                <td>
                    {{ field.value }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Hai {{ user.username }} this is your profile page</p>
    <form method="post" action="{% url 'users:userprofile' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            {{ form2.as_table }}
            {{ form3.as_table }}
        </table>
        <input type="submit" value="Save Changes" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

<div>
<p>Your Addresses</p>
    
    <div id="current-address">
         {% for address in user_addresses %}
    <p>
        {{ address.id }}
        {{ address.line_1 }}
        {{ address.line_2 }}
        {{ address.town }}
        {{ address.postcode }}
        
      <a class="edit" href="{% url 'users:editaddress' address.id %}">Edit</a>    </p>
    {% endfor %}
    </div>
    
    <a class="edit" href="{% url 'users:addaddress' %}">Add</a>
</div>

{% endif %}
{% endblock %}

{% block jscript %}
$('.edit').click(function(event) {
      event.preventDefault();

      $('#current-address').load(this.href);
   });

{% endblock %}