{% extends "base.html" %}

{% block content %}
{% if user.id  != userobj.id %}
    <p>{{ userobj.username }}</p>
    <table>
        <tbody>
            {% for field in form %}
            <tr>
                <th>
                    <label for="id_user-first_name">{{ field.label_tag }}</label>
                </th>
                <td>
                    {{ field.value }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{{ projects }}
{% else %}
    <p>Hai {{ user.username }} this is your profile page</p>
    <form method="post" action="{% url 'users:profile' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            {{ form2.as_table }}
            {{ form3.as_table }}
        </table>
        <input type="submit" value="Save Changes" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

<div>
<p>Your Addresses</p>
    
    <div id="current-address">
         {% for address in user_addresses %}
    <p>
        {{ address.id }}
        {{ address.line_1 }}
        {{ address.line_2 }}
        {{ address.town }}
        {{ address.postcode }}
        
      <a class="edit" href="{% url 'users:edit_address' address.id %}">Edit</a>    <a class="edit" href="{% url 'users:delete_address' address.id %}">Delete</a></p>
    {% endfor %}
        <a class="edit" href="{% url 'users:add_address' %}">Add</a>
    </div>
</div>

{% for userpledge in userpledges %}
    <p>{{ userpledge.pledge.project.title }}
    {{ userpledge.pledge }}
        </p>
{% endfor %}

{% endif %}
{% endblock %}

{% block jscript %}

    $('#current-address').on('click', '.edit', function(event) {
      event.preventDefault();

      $('#current-address').load(this.href + ' #current-address > *');
   });

    $('#current-address').on('submit', '#edit-address', function () {
        var frm = $(this);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#current-address").html($(data).filter("#current-address").children());
            },
            error: function(data) {
                $("#current-address").html("Something went wrong!");
            }
        });
        return false;
    });

{% endblock %}