{% extends "base.html" %}

{% block content %}
    {% if project %}
        <form method="post" action="{% url 'projects:edit' project.id %}" enctype="multipart/form-data">
    {% else %}
        <form method="post" action="{% url 'projects:create' %}" enctype="multipart/form-data">
    {% endif %}

    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    {% if project %}
        <img src="{{ project.image.url }}" />
        <input type="submit" name="project" value="Edit Project" />
    {% else %}
        <input type="submit" name="project" value="Create Project" />
    {% endif %}        
        </form>
            
            
    <div id="pledge-rewards">
        <a class="edit" href="{% url 'projects:pledgerewards' project.id %}">Edit pledges</a>
    </div>
    </div>
            
{% endblock %}
            
{% block jscript %}
    $('.edit').click(function(event) {
        event.preventDefault();
        $("#pledge-rewards").load(this.href);
    });
{% endblock %}