{% extends "base.html" %}

{% block content %}
<div class="content-card">
    {% if project %}
    <h1>Edit Project</h1>
        <form method="post" action="{% url 'projects:edit' project.id %}" enctype="multipart/form-data">
            <div class="center-parent">
                <div class="project-card-img center-child">
                    <img src="{{ project.image.url }}" />
                </div>    
            </div>
    {% else %}
    <h1>Create Project</h1>
        <form method="post" action="{% url 'projects:create' %}" enctype="multipart/form-data">
    {% endif %}

    {% csrf_token %}
    <table class="form-table">
        {{ form.as_table }}
    </table>

    {% if project %}
        <input class="right" type="submit" name="project" value="Save Project" />
                
    {% else %}
        <input class="right" type="submit" name="project" value="Create Project" />
        
    {% endif %}        
            <div class="clear"></div>
        </form>
            <div class="clear"></div>
    </div>
            
    {% if project %}
    
    <div id="pledge-rewards">
        <div class="content-non-card">    
            <h2>{{ project.title }} Pledge Rewards</h2>
            <div class="center-parent flex">
                {% for pledgereward in pledgerewards %}
                    {% include "projects/includes/pledgereward_card.html" %}
                {% endfor %}
                
                <a class="edit" href="{% url 'projects:pledgerewards' project.id %}">
                    <div class="action-card">
                        Manage Pledges and Rewards
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %} 
            
{% endblock %}
            
{% block jscript %}

    $('#pledge-rewards').on('click', '.edit', function(event) {
      event.preventDefault();

      $('#pledge-rewards').load(this.href + ' #pledge-rewards > *');
   });

    $('#pledge-rewards').on('submit', '.pledgereward' , function () {
        var frm = $(this);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#pledge-rewards").html($(data).find("#pledge-rewards").html());
            },
            error: function(data) {
                $("#pledge-rewards").html("Something went wrong!");
            }
        });
        return false;
    });

{% endblock %}