{% extends "base.html" %}

{% block content %}
    {% if project %}
        <form method="post" action="{% url 'projects:edit' project.id %}" enctype="multipart/form-data">
    {% else %}
        <form method="post" action="{% url 'projects:create' %}" enctype="multipart/form-data">
    {% endif %}

    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    {% if project %}
        <img src="{{ project.image.url }}" />
        <input type="submit" name="project" value="Save Project" />
            
                <div id="pledge-rewards">
        {% for pledge in pledges %}
            <p>{{ pledge }}</p>
        {% endfor %}
        <a class="edit" href="{% url 'projects:pledgerewards' project.id %}">Edit and delete pledges</a>
    </div>
    {% else %}
        <input type="submit" name="project" value="Create Project" />
    {% endif %}        
        </form>
            
            

    </div>
            
{% endblock %}
            
{% block jscript %}

    $('#pledge-rewards').on('click', '.edit', function(event) {
      event.preventDefault();

      $('#pledge-rewards').load(this.href + ' #pledge-rewards > *');
   });

    $('#pledge-rewards').on('submit', '.pledgereward' , function () {
        var frm = $(this);
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#pledge-rewards").empty().append(data);
            },
            error: function(data) {
                $("#pledge-rewards").html("Something went wrong!");
            }
        });
        return false;
    });

{% endblock %}