{% extends "base.html" %}

{% block content %}
            
    {% if project %}
{{ mode }}
    <div id="pledge-rewards">
        <div id="pledge-form">
            {% if mode == "pledge" %}
                <form class="pledgereward" method="post" action="{% url 'projects:pledge' project.id instance.id%}">
            {% else %}
                <form class="pledgereward" method="post" action="{% url 'projects:pledgerewards' project.id %}">
            {% endif %}
                {% csrf_token %}
                <table>
                {{ form2.as_table }}
            </table>
            <input type="submit" value="Save Pledge" />
            </form>
            
            {% for pledge in pledges %}
                <p>
                    {{ pledge.id }}
                    {{ pledge }}
                    <a class="edit" href="{% url 'projects:pledge' project.id pledge.id %}">Edit</a>
                    <a class="edit" href="{% url 'projects:delete_pledge' project.id pledge.id %}">Delete</a>
                </p>
            {% endfor %}
        </div>    
        <div id="reward-form">
            
            {% if mode == "reward" %}
                <form class="pledgereward" method="post" action="{% url 'projects:reward' project.id instance.id%}">
            {% else %}
                <form class="pledgereward" method="post" action="{% url 'projects:pledgerewards' project.id %}">
            {% endif %}
                {% csrf_token %}
                <table>
                    {{ form3.as_table }}
                </table>
                <input type="submit" value="Save Reward" />
            </form>
            
            {% for reward in rewards %}
            <p>
                {{reward.id}}
                {{reward}}
                <a class="edit" href="{% url 'projects:reward' project.id reward.id %}">Edit</a>
                <a class="edit" href="{% url 'projects:delete_reward' project.id reward.id %}">Delete</a>
                </p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
            
{% endblock %}