{% extends "base.html" %}

{% block content %}
{{ project.is_funded }}
    {% if project.is_funded %}
        <div class="banner-right">
            <img src="/static/projects/images/funded-banner.png">
        </div>
    {% endif %}

    {% if pledge %}
        <div id="pledgereward-strip-card">
            <div class="strip-card-header">
                <span class="mega-octicon octicon-heart"></span>
            </div>
            <b>You have already contributed to this project!</b>
            <br><b>Your reward: </b>{{ pledge }}
        </div>
    {% endif %}

    <div class="content-non-card">
        <h1>{{ project.title }} <span>by {{ project.owner }}</span></h1>
        
        <div class="center-parent">
        <div class="project-detail-card">
            {{ project.pledgers }} Pledges
        </div>
            
        <div class="project-detail-card">
            £{{ project.pledged_amount }} Pledged
        </div>
        
        <div class="hover-hidden project-detail-card">
            {{ project.pledged_percent }}%
            of
            {{ project.goal }}
        </div>
        
        <div class="project-detail-card">
            {{ project.status }}
        </div>
        
        <a class="button" href="#pledges">Pledge Now</a>
        </div>
    </div>
    
    <div class="center-parent">
        <img src="{{ project.image.url }}">
    </div>

    <div class="content-card">
        <h2>The Story<span>... and the dreams</span></h2>
        {{ project.long_desc|safe|linebreaks }}
    </div>

    
    <div class="content-non-card">
        <a name="pledges"></a>
        <h2>Pledge Rewards</h2>
        {% if pledgerewards %}
        <p>Contributing to this project not only makes dreams come true but you get some great goodies too!</p>
        <div class="center-parent flex">
            {% for pledgereward in pledgerewards %}
                <div class="pledgereward-card">
                    <p>
                        <b>Amount: £{{ pledgereward.amount }}</b>
                        </br><b>{{ pledgereward.count }} User Pledges</b>
                        <ul class="reward-list">
                            {% for reward in pledgereward.rewards.all %}
                                <li>
                                    {{ reward }}
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
        
                    {% if pledgereward == pledge %}
                        <div>
                            <span class="mega-octicon octicon-heart right"></span>
                        </div>
                        <div class="clear"></div>
                    {% endif %}
    
                    <div class="card-footer">
                        <a class="edit" href="{% url 'projects:add_pledge' pledgereward.project.id pledgereward.id %}">
                            <b>Pledge to Project</b>
                        </a>
                    </div>
                            
                    <div class="hidden">
                        <span class="octi-margin mega-octicon octicon-pencil"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% elif project.status.status == "New" %}
            <p>You haven't made any pledge rewards! Don't forget to make some on your <a href="{% url 'projects:edit' project.id %}">project edit page.</a></p>
        {% endif %}
    </div>
    
    
    <div class="content-card">
        <h2>Contributors</h2>
            {% if pledgers %}
                <ul>
                    {% for pledger in pledgers %}
                        <li>
                            {{ pledger }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no contributors yet. Why don't you be the first?</p>
            {% endif %}
    </div>
{% endblock %}