{% extends "base.html" %}

{% block content %}
    {% if project.is_funded %}
        <div class="banner-right">
            FUNDED!
        </div>
        {% endif %}
    {% if pledge %}
        <div id="pledgereward-strip-card">
            <div class="strip-card-header">
                <span class="mega-octicon octicon-heart"></span>
            </div>
            <b>You have already contributed to this project!</b>
            <br><b>Your reward: </b>{{ pledge }}
        </div>
    {% endif %}

    <div class="center-parent">
        <img src="{{ project.image.url }}">
        <div id="project-edit-img" class="right" style="background-image: url({{ project.image.url }})"></div>
    </div>

    <div class="content-card">
        {{ project.title }}
        {{ project.owner }}
        {{ project.goal }}
        {{ project.pledged_amount }}
        {{ project.pledged_percent }}%
        {{ project.pledgers }}pledgers
        is funded={{ project.is_funded }}
        {{ project.status }}
    </div>

    <div class="content-card">
        {{ project.long_desc|safe|linebreaks }}
    </div>

    
    <div class="content-non-card">
        <h2>Pledge Rewards</h2>
        {% if pledgerewards %}
        <div class="center-parent flex">
            {% for pledgereward in pledgerewards %}
                <div class="pledgereward-card">
                    <p>
                        <b>Amount: £{{ pledgereward.amount }}</b>
                        </br><b>{{ pledgereward.count }} User Pledges</b>
                        <ul class="reward-list">
                            {% for reward in pledgereward.rewards.all %}
                                <li>
                                    {{ reward }}
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
        
                    {% if pledgereward == pledge %}
                        <div>
                            <span class="mega-octicon octicon-heart right"></span>
                        </div>
                        <div class="clear"></div>
                    {% endif %}
    
                    <div class="card-footer">
                        <a class="edit" href="{% url 'projects:add_pledge' pledgereward.project.id pledgereward.id %}">
                            <b>Pledge to Project</b>
                        </a>
                    </div>
                            
                    <div class="hidden">
                        <span class="octi-margin mega-octicon octicon-pencil"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% elif project.status.status == "New" %}
            <p>You haven't made any pledge rewards! Don't forget to make some on your <a href="{% url 'projects:edit' project.id %}">project edit page.</a></p>
        {% endif %}
    </div>
    
    
    <div class="content-card">
        <h2>Contributors</h2>
            {% if pledgers %}
                <ul>
                    {% for pledger in pledgers %}
                        <li>
                            {{ pledger }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no contributors yet. Why don't you be the first?</p>
            {% endif %}
    </div>
{% endblock %}