{% extends "base.html" %}

{% block content %}
    <div class="center-parent">
        <div id="pledgereward-strip-card">
            <div class="strip-card-header">
                <span class="mega-octicon octicon-heart"></span>
            </div>
            <b>You have already contributed to this project!</b>
            <br><b>Your current reward: </b>{{ pledge }}
        </div>
    </div>

    <div class="center-parent">
        <img src="{{ project.image.url }}">
        <div id="project-edit-img" class="right" style="background-image: url({{ project.image.url }})"></div>
    </div>

    <div class="content-card">
        {{ project.title }}
        {{ project.owner }}
        {{ project.goal }}
        {{ project.pledged_amount }}
        {{ project.pledged_percent }}%
        {{ project.pledgers }}pledgers
        is funded={{ project.is_funded }}
        {{ project.status }}
    </div>

    <div class="content-card">
        {{ project.long_desc|safe|linebreaks }}
    </div>

    <div class="content-non-card">
        <h2>Pledge Rewards</h2>
        <div class="center-parent flex">
            {% for pledgereward in pledgerewards %}
                {% include "projects/includes/pledgereward_card.html" %}
            {% endfor %}
        </div>
    </div>
    
    
    <div class="content-card">
        <h2>Contributors</h2>
            {% if pledgers %}
                <ul>
                    {% for pledger in pledgers %}
                        <li>
                            {{ pledger }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no contributors yet. Why don't you be the first?</p>
            {% endif %}
    </div>
{% endblock %}